{% extends "layout.html" %}
{% block content %}
<h1>Membres du gna book club</h1>
<hr />
<ul>
{% for user in user_list %}
    <li>
        <a href="{% url 'user_detail' user.id %}">{{ user }}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}