{% extends "layout.html" %}
{% block content %}
<h1>{{ user }}</h1>
<hr />
<h2>Livre{{ user.book_set.all|pluralize }}</h2>
{% include "books/book_list_widget.html" with book_list=user.book_set.all %}
<h2>Commentaire{{ user.comment_set.all|pluralize }}</h2>
{% include "books/comment_list_widget.html" with comment_list=user.comment_set.all %}
{% endblock %}