@import "../bootstrap/scss/bootstrap";

.footer {
    @extend .row;
    @extend .justify-content-between;
}

.book-list {
    @extend .row;
    @extend .justify-content-center;
}

.book-list-item {
    @extend .card;
    @extend .mx-1;
    @extend .my-1;
}

@include media-breakpoint-up(0) {
    .book-list-item {
      width:100%;
    }
}

@include media-breakpoint-up(sm) {
    .book-list-item {
      width:277px;
    }
}

@include media-breakpoint-up(md) {
    .book-list-item {
      width:242px;
    }
}

@include media-breakpoint-up(lg) {
    .book-list-item {
      width:239.5px;
    }
}

@include media-breakpoint-up(xl) {
    .book-list-item {
      width:226px;
    }
}

.book-list-item-body {
    @extend .card-body;
    @extend .px-2;
}

.book-list-item-footer {
    @extend .card-footer;
}

.book-list-item-summary {
    @extend .card-text;
}

.book-list-item-title {
    @extend .card-title;
}

.book-list-item-cover {
    @extend .card-img-top;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 150px;
}

.tag {
    @extend .badge;
    @extend .badge-secondary;
}

.book-detail {
    @extend .row;
    @extend .mt-3;
}

.book-detail-cover {
    @extend .col-sm-12;
    @extend .col-md-4;
    @extend .order-md-2;
}

.book-detail-content {
    @extend .col-sm-12;
    @extend .col-md-8;
}


