{% extends "layout.html" %}
{% load bootstrap4 %}
{% block content %}
<form action="{% url 'login' %}" method='POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-success">
            Valider
        </button>
    {% endbuttons %}
</form>
{% endblock %}