{% extends "layout.html" %}
{% block content %}
<h1> {{ author }} </h1>
{% include "books/book_list_widget.html" with book_list=author.book_set.all %}

<!-- <ul>
{% for book in author.book_set.all %}
<li><a href="{% url 'book_detail' book.id %}">{{ book }}</a></li>
{% endfor %}
</ul> -->
{% endblock %}