{% extends "layout.html" %}
{% block content %}
<h1>Tous les auteurs</h1>
<hr />
<ul>
{% for author in author_list %}
    <li>
        <a href="{% url 'author_detail' author.id %}">{{ author }}</a>
        ({{ author.book_set.all|length }} livre{% if author.book_set.all|length > 1 %}s{% endif %})
    </li>
{% endfor %}
</ul>
{% endblock %}