{% load fontawesome %}
<div class="book-list">
  {% for book in book_list %}
  <div class="book-list-item
              {% if onerow %}
              {% if forloop.counter > 2 and forloop.counter <= 3 %} d-none d-md-flex
              {% elif forloop.counter > 3 and forloop.counter <= 4 %} d-none d-lg-flex
              {% elif forloop.counter > 4 %} d-none d-xl-flex {% endif %}
              {% endif %}">
    {% if book.cover %}
    <a href="{{ book.get_absolute_url }}">
      <img class="book-list-item-cover" src="{{ book.cover.url }}" />
    </a>
    {% endif %}
    <div class="book-list-item-body">
      <a href="{{ book.get_absolute_url }}">
        <h5 class="book-list-item-title">{{ book }}</h5>
      </a>
      <!-- <h6 class="card-subtitle mb-2 text-muted">{{ book.upload_date }}</h6> -->
      <p>
        {% for tag in book.tags.all %}
        <a href="{{ tag.get_absolute_url }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </p>
      <p class="book-list-item-summary">{{ book.summary|truncatechars:100 }}</p>
    </div>
    <div class="book-list-item-footer">
      {% include "books/likes_widget.html" %}
      <div class="float-right">
        <a href="{{ book.get_absolute_url }}" class="btn btn-primary btn-sm"
          data-toggle="tooltip" title="Détails">
          {% fontawesome_icon 'info-circle' %}
        </a>
        <a href="{{ book.file.url }}" class="btn btn-success btn-sm"
           data-toggle="tooltip" title="Télécharger">
          {% fontawesome_icon 'download' %}
        </a>
      </div>
    </div>
  </div>
  {% comment %} {% if forloop.counter|divisibleby:2 %}
    <div class="w-100 d-none d-sm-block d-md-none"></div>
  {% endif %}
  {% if forloop.counter|divisibleby:3 %}
    <div class="w-100 d-none d-md-block d-lg-none"></div>
  {% endif %}
  {% if forloop.counter|divisibleby:4 %}
    <div class="w-100 d-none d-lg-block d-xl-none"></div>
  {% endif %}
  {% if forloop.counter|divisibleby:5 %}
    <div class="w-100 d-none d-xl-block"></div>
  {% endif %} {% endcomment %}
  {% endfor %}
</div>