{% extends "layout.html" %}
{% load bootstrap4 %}
{% load fontawesome %}
{% block head %}{{ form.media.css }}{% endblock %}
{% block content %}
<h1>Éditer un livre</h1>
<form action="{% url 'book_update' book.id %}" method='POST' id='book_form'
      enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_form form %}
<a class="btn btn-secondary" href="{% url 'book_detail' book.id %}">{% fontawesome_icon 'ban' %} Annuler</a>
<button type="submit" class="btn btn-success" onclick="lowerConvert()">
    {% fontawesome_icon 'check' %} Valider
</button>
<span data-toggle="modal" data-target="#confirmationModal"
        class="btn btn-danger">
    {% fontawesome_icon 'trash' %} Supprimer
</span>
</form>
<form action="{% url 'book_delete' %}" method='POST' id="book_delete_form">
    {% csrf_token %}
    <input type="hidden" name="book_id" value="{{ book.id }}" />
</form>
{% include "books/modal_confirmation.html" with obj=book form="book_delete_form" %}

{% endblock %}
{% block footer %}
{{ form.media.js }}
<script type="text/javascript">
  function lowerConvert() {
    fields = ["id_authors", "id_tags"];
    for (var f in fields) {
      coll = document.getElementById(fields[f]).options;
      for (var k in coll) {
        val = coll[k].value;
        if (typeof(val) != "undefined") {
          coll[k].value = val.toLowerCase();
        }
      }
    }
    //get the form id and submit it
    var form = document.getElementById("book_form");
    form.submit();
  }
</script>
{% endblock %}