{% extends "layout.html" %}
{% load bootstrap4 %}
{% load fontawesome %}
<!-- -->
{% block head %}{{ form.media.css }}{% endblock %}
<!-- -->
{% block content %}

<div class="book-detail">
  <div class="book-detail-cover">
    {% if book.cover %}
    <img src="{{ book.cover.url }}" class="img-fluid img-rounded img-thumbnail" />
    {% endif %}
  </div>

  <div class="book-detail-content">
    <h1>{{ book }}</h1>

    {% if book.summary %}
    <p>{{ book.summary|linebreaks }}</p>
    {% endif %}

    <h6>
      {% fontawesome_icon 'edit' %} Écrit par
      {% for author in book.authors.all %}
          <a href="{{ author.get_absolute_url }}">{{ author }}</a>{% include "books/comma.html" %}
      {% endfor %}
    </h6>

    <h6>
      {% fontawesome_icon 'user' %} Proposé par
      <a href="{% url 'user_detail' book.uploader.id %}">
        {{ book.uploader }}
      </a>
    </h6>

    {% if book.publication_date %}
    <h6>
      {% fontawesome_icon 'calendar' %} Publié en {{ book.publication_date|date:"Y" }}
    </h6>
    {% endif %}

    <h6>
      {% fontawesome_icon 'calendar' %} Ajouté le {{ book.upload_date|date }}
    </h6>

    {% include "books/likes_widget.html" %}

    <p>
      {% for tag in book.tags.all %}
        <a href="{{ tag.get_absolute_url }}" class="badge badge-secondary">{{ tag }}</a>
      {% endfor %}
    </p>

    <a href="{{ book.get_update_url }}" class="btn btn-secondary">
      {% fontawesome_icon 'edit' %} Modifier
    </a>
    <a href="{{ book.epubjs }}" target="_blank" class="btn btn-info">
      {% fontawesome_icon 'book' %} Lire
    </a>
    <a href="{{ book.file.url }}" class="btn btn-success">
      {% fontawesome_icon 'download' %} Télécharger
    </a>
  </div>
</div>

<hr />
<h2>Commentaire{{ book.comment_set.all|pluralize }}</h2>
{% for comment in book.comment_set.all %}
    <a name="#comment-{{ comment.id }}"></a>
    <p>
        {% if comment.recommended %}
            {% fontawesome_icon 'thumbs-up' color='green' large=True %} Recommandé 
        {% else %}
            {% fontawesome_icon 'thumbs-down' color='red' large=True %} Déconseillé 
        {% endif %}
        par {{ comment.user }}, le {{ comment.date|date }}
            {% if comment.user == user %}
            <button data-toggle="modal" data-target="#confirmationModal"
                    class="btn btn-danger btn-sm">
            {% fontawesome_icon 'trash' %}
            </button>
            <form action="{% url 'comment_delete' %}" method='POST' id="comment_delete_form">
                {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{ comment.id }}" />
            </form>
            {% include "books/modal_confirmation.html" with obj=comment form="comment_delete_form" %}
        {% endif %}
    </p>
    {{ comment.content|linebreaks }}
{% empty %}
    Pas encore de commentaire
{% endfor %}

{% if not is_commented_by_current_user %}
    <hr />
    <h2>Laisser un commentaire</h2>
    <form action="{% url 'book_detail' book.id %}" method='POST' id='comment_form'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
        Valider
    </button>
{% endif %}

{% endblock %}