{% load fontawesome %}
<div class="card-deck">
  {% for comment in comment_list %}
  <div class="card">
    {% if comment.book.cover %}
    <a href="{{ comment.book.get_absolute_url }}#comment-{{comment.id}}">
      <img class="card-img-top" src="{{ comment.book.cover.url }}" style="width:100%; object-fit: cover; object-position: center; max-height: 100px;" />
    </a>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ comment.book.get_absolute_url }}#comment-{{comment.id}}">
          {{ comment.book }}
        </a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {% if comment.recommended %}
          {% fontawesome_icon 'thumbs-up' %}
        {% else %}
          {% fontawesome_icon 'thumbs-down' %}
        {% endif %}
        {{ comment.user }}
      </h6>
      <p class="card-text">{{ comment.content|truncatechars:100 }}</p>
    </div>
  </div>
  {% endfor %}
</div>