{% extends "layout.html" %} {% load fontawesome %}
<!-- -->
{% block content %}
<div class="row">
    <h1>Bienvenue</h1>
</div>
<hr />
<div class="row">
    <h2>{% fontawesome_icon 'book' %} Derniers livres</h2>
</div>
<div class="row">
    {% include "books/book_list_widget.html" with onerow='true' %}
</div>
<hr />
<div class="row">
    <h2>{% fontawesome_icon 'comments' %} Derniers commentaires</h2>
</div>
<div class="row">
    {% include "books/comment_list_widget.html" %}
</div>
{% endblock %}