{% load fontawesome %}
{% if book.likers %}
  <span data-toggle="tooltip" class="like"
     title="{{ book.likers|join:", "|truncatechars:50 }}">
    <span class="fa fa-thumbs-up"></span>
    {{ book.likers|length }}
  </span>
{% endif %}
{% if book.haters %}
  <span data-toggle="tooltip" class="like"
     title="{{ book.haters|join:", "|truncatechars:50 }}">
    <span class="fa fa-thumbs-down"></span>
    {{ book.haters|length }}
  </span>
{% endif %}
