<div class="modal fade" id="confirmationModal"
     tabindex="-1" role="dialog"
     aria-labelledby="confirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Êtes-vous certain de vouloir supprimer <span class="font-italic">{{ obj }}</span> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Annuler
          </button>
          <button type="button" class="btn btn-primary btn-danger"
             onclick="var form = document.getElementById('{{ form }}'); form.submit();">
              Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>