{% extends "layout.html" %}
{% block content %}
<h1>Tous les tags</h1>
<hr />
<ul>
{% for tag in tag_list %}
    <li>
        <a href="{% url 'tag_detail' tag.id %}">{{ tag }}</a>
        ({{ tag.book_set.all|length }} livre{% if tag.book_set.all|length > 1 %}s{% endif %})
    </li>
{% endfor %}
</ul>
{% endblock %}