{% extends "layout.html" %}
{% load bootstrap4 %}
{% block content %}
<h1>Ajouter un livre</h1>
<form action="{% url 'upload' %}" method='POST' enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_form form %}
<button type="submit" class="btn btn-success">
    Envoyer
</button>
</form>
{% endblock %}