{% load bootstrap4 %} {% load fontawesome %} {% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Gna e-book club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="{% static 'books/books.min.css' %}" rel="stylesheet" />
  <!-- -->
  {% fontawesome_stylesheet %}
  <!-- -->
  {% block head %}{% endblock %}
</head>

<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link{% if nav_active == 'index' %} active{% endif %}" href="{% url 'index' %}">
          {% fontawesome_icon 'home' %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if nav_active == 'book_list' %} active{% endif %}" href="{% url 'book_list' %}">
          {% fontawesome_icon 'book' %} Livres
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if nav_active == 'author_list' %} active{% endif %}" href="{% url 'author_list' %}">
          {% fontawesome_icon 'user' %} Auteurs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if nav_active == 'upload' %} active{% endif %}" href="{% url 'upload' %}">
          {% fontawesome_icon 'upload' %} Ajouter
        </a>
      </li>
    </ul>
    {% bootstrap_messages %}{% block content %}{% endblock %}
    <hr />

    <div class="footer">
      <div>
        {{ stats.n_books }} livres - {{ stats.n_comments }} commentaires
      </div>

      <div>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
          {% fontawesome_icon 'sign-out' %} {{ user }}
        </a>
        {% endif %}
      </div>
    </div>

  </div>
  <script crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- enable tooltips -->
  <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip()
    });
  </script>
  <!-- -->
  {% block footer %}{% endblock %}

</body>

</html>